<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Choose a Theme</h2>
                    <p>Our themes use smart layout to adapt to your project content to any device. Switch your theme at any time.</p>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Amoeba/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Amoeba</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Baker/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Baker</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/eNno/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>eNno</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Flexor/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Flexor</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Hidayah/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Hidayah</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Moderna/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Moderna</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/OnePage/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>OnePage</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/themes/Siimple/thumb.png" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Siimple</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>