@inject Saasu.Core.Tenant tennant
@{
    var themeroot = $"/themes/{tennant.Theme.Name}";
}

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <i class="fa fa-flask fa-5x mar-bot20"></i>
                    <h2 class="slogan">Welcome to Amoeba</h2>
                    <p>
                        Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut.
                        Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent.
                        Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-code fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Valid HTML5</h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-terminal fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Responsive</h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-bolt fa-5x mar-bot20"></i>
                    <h4 class="text-bold">Customizable</h4>
                    <p>
                        Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                        Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- spacer section:testimonial -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h5>
                            Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
                        </h5>
                        <br />
                        <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- about -->
<section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>

        <div class="row align-center mar-bot40">
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="@themeroot/img/team/member1.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Jason Doe</h4>
                        <span>User experiences</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="@themeroot/img/team/member2.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Timothy Clark</h4>
                        <span>Web developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="@themeroot/img/team/member3.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Vicky Tan</h4>
                        <span>Web designer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img src="@themeroot/img/team/member4.jpg" alt="" /></figure>
                    <div class="team-detail">
                        <h4>Kevin Peterson</h4>
                        <span>UI designer</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /about -->
<!-- spacer section:stats -->
<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
            <p class="color-white">Bootstraptaste</p>
        </div>
    </div>
</section>

<!-- section works -->
<section id="section-works" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Web Design</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                    <li><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix" id="3">

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img1.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img2.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img3.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img4.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img5.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem webdesign">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img6.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img7.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem photography">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img8.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem print">
                            <div class="portfolio-item">
                                <img src="@themeroot/img/portfolio/img9.jpg" alt="" />
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">Portfolio name</a></h5>
                                        <a href="@themeroot/img/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>


            </div>
        </div>

    </div>
</section>
<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
        <p class="color-white">Bootstraptaste</p>
    </div>
</section>

<!-- contact -->
<section id="section-contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">
                        Your message has been sent. Thank you!
                    </div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validation"></div>
                        </div>

                        <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
                    </form>

                </div>
            </div>
            <!-- ./span12 -->
        </div>

    </div>
</section>
<!-- map -->
<section id="section-map" class="clearfix">
    <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
</section>